.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Firefox */
.range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Edge/IE */
.range-slider::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}